<div style="height:418px;width: 100%;background-image: url('https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/1395024/910/618/m1/fpnw/wm1/mto4z4y0xaenpk1dhuer2vowgbwfh64s7vk8ev32hzeha0dmfjcigtzvxfredgxw-.jpg?1466765774&s=72f747176a9e2c6e3f3aa04a81fe28fb')">

  <p style="color: white;font-size: 125%;background-color: black">
    Wählen Sie eine der folgenden Pizza!
  </p>

  <div style="color: white;font-size: 125%; background-color: black">
    <ul class="heroes" style="list-style: none; text-align: left">
      <form action="">
        <li *ngFor="let pizza of pizzas">
          <input (click)="selectedPizza(pizza)" type="radio" name="gender" value="{{pizza.id}}"><span>{{pizza.id}}</span> {{pizza.name}} - {{pizza.price}}€ - Radius: {{pizza.radius}}
        </li>
      </form>
    </ul>
    </div>
  <button style="background-color:forestgreen;border-radius: .1em;border-style: none" (click)="addPizzaToCart()">Hinzufügen</button>

</div>


