<div style="height:418px;width: 70%;)">

  <p style="color: white;font-size: 125%;background-color: black">
    Wählen Sie eine der folgenden Pizza!
  </p>

  <div style="color: white;font-size: 125%; background-color: black">
    <ul class="heroes" style="list-style: none; text-align: left">
      <form action="">
        <li *ngFor="let pizza of pizzas">
          <input (click)="selectedPizza(pizza)" type="radio" name="gender" value="{{pizza.id}}"><span>{{pizza.id}}</span> {{pizza.name}} - {{pizza.price}}€ - Radius: {{pizza.radius}}
        </li>
      </form>
    </ul>
    </div>
  <button style="background-color:forestgreen;border-radius: .1em;border-style: none" (click)="addPizzaToCart()">Hinzufügen</button>

</div>


