<div>

  <p>
    Wählen Sie eine der folgenden Pizza!
  </p>

  <div>
    <ul class="heroes" style="list-style: none; text-align: left">
      <form action="">
        <li *ngFor="let pizza of pizzas">
          <input (click)="selectedPizza(pizza)" type="radio" name="gender" value="{{pizza.id}}"><span>{{pizza.id}}</span> {{pizza.name}} - {{pizza.price}}€ - Radius: {{pizza.radius}}
        </li>
      </form>
    </ul>
    <button style="background-color:forestgreen;border-radius: .1em;border-style: none" (click)="addPizzaToCart()">Hinzufügen</button>
  </div>

</div>


