

<div style="background-color:lightgray;color:white;height: 10%; width: 100%;" >
  <div>
    <p></p>
  </div>
<div style="float: right;">
  <nav>
    <a href="/home" style="color:white;text-decoration: none; padding-right: 15px; font-size: 20px">Impressum</a>
    <a href="/home" style="color:white;text-decoration: none;padding-right: 15px; font-size: 20px">Kontakt</a>
    <a href="/home" style="color:white;text-decoration: none;padding-right: 15px; font-size: 20px">Anfahrt</a>
    <a href="/home" style="color:white;text-decoration: none;padding-right: 15px; font-size: 20px">AGB</a>
  </nav>
</div>

</div>
