

<div style="display: inline-block;float: left;">
  <button (click)="showDiffSizes()">Größe</button>
  <div *ngIf="diffSizes">
      Hier können verschiedene Größen ausgewählt werden.
    <div>
      <ul>
        <form action="">
          <li *ngFor="let size  of sizes" style="list-style: none; text-align: left">
            <input (click)="selectedSize(size)" type="radio" name="gender" value="{{size.id}}"><span>{{size.id}}</span> - Typ: {{size.sizeType}} - Radius: {{size.radius}} - Preis: {{size.price}} €
          </li>
        </form>
      </ul>
    </div>
    <button (click)="showDiffIngredients()">Weiter <i style="font-size: 1.0em;" class="fa fa-chevron-circle-right"></i></button>
  </div>

</div>




<div style="display: inline-block;float:left;">
  <button (click)="showDiffIngredients()">Zutaten</button>
  <div *ngIf="diffIngredients">
      Hier können verschiedene Zutaten hinzugefügt werden.
    <br>
    <div>
        <ul>
          <form action="">
            <li *ngFor="let ingrediant of ingrediants" style="list-style: none; text-align: left">
              <!--TODO Dezimalnummer Ausgabe korrekt mit zwei Nachkommastellen anzeigen lassen-->
              <input (click)="selectedIngrediant(ingrediant)" type="checkbox" value="{{ingrediant.id}}">  {{ingrediant.name + ","}} {{ingrediant.price | number:'1.2-2'}}
            </li>
          </form>
        </ul>
    </div>
   <!-- <br>
    <input [value]="favIngrediant" (input)="favIngrediant = $event.target.value" placeholder="Ihre Wunschzutat: ">
    <br>
    <p>Zutat: {{favIngrediant}}</p>
    <button (click)="addIngrediant()">Hinzufügen</button>-->
    <br>
    <button (click)="showDiffSizes()"><i style="font-size: 1.0em;" class="fa fa-chevron-circle-left"></i> Zurück</button><button (click)="showDeliveryTime()"> Weiter <i style="font-size: 1.0em;" class="fa fa-chevron-circle-right"></i> </button>

  </div>

</div>


<div style="display: inline-block;float:left;">
  <div>
    <button (click)="showDeliveryTime()">Lieferdatum</button>
  </div>
  <div *ngIf="deliveryTime">
    Hier kann sein Lieferdatum auswählen.
    <div>
      <mat-form-field>
        <input (click)="selectDeliverDate()" matInput [min]="minDate" [max]="maxDate"  [matDatepicker]="picker" placeholder="Lieferzeitpunkt wählen">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <input type="time" value="20:15" >

    </div>
    <br>
    <button (click)="showDiffIngredients()"><i style="font-size: 1.0em;" class="fa fa-chevron-circle-left"></i> Zurück</button>
  </div>
</div>
